
<div class="">
  <h3><%= "Welcome #{login_person.email}"%></h3>
</div>

<div id='recent_purchases'>
  <%= render 'customers/purchases/list' %>
</div>


<h2>Deals:<h2>

<div id='active_deals'>
<table cellpadding="5" style = "text-align: center;">
  <thead>
    <tr>
      <th>Buy currency</th>
      <th>Sell Currency</th>
      <th>Rate</th>
      <th>Purchase</th>
    </tr>
  </thead>

  <tbody>
    <% unless @deals.blank? %>
      <% @deals.each do |deal| %>
        <tr>
          <td><%= deal.buy_currency %></td>
          <td><%= deal.sell_currency %></td>
          <td><%= deal.rate.to_s %></td>
          <td><%= link_to 'Purchase Deal', new_customers_purchase_path(deal_id: deal.id), model_options.merge(title: 'Purchase Deal.') %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>

<br>
